@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap');
:root{
    --color_primario: #fbfeeb;
    --color_secundario: #45080f;
    --color_terciario: #091219;
}
*{
    margin: 0;
    padding: 0;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
html {
    box-sizing: border-box;
}
body{
    max-width: 1920px;
}
/* _-_-_-_-__ morphing navigation styling __-_-_-_-_ */
.header {
    width: 100%;
    height: 60vh;
    background-image: url('../img/general.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    z-index: 1;
    max-height: 1024px;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 0;
}
.navigation {
    width: 40px;
    height: 100px;
    display: block;
    padding-right: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    perspective: 800;   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
    z-index: 10;
    background-color: rgba(0,0,0,0.75);
    border-radius: 0% 50% 500% 0%;
}
.logo {
    opacity: 0;
    width: 80%;
    height: auto;
    display: block;
    position: absolute;
    top: 30px;
    left: 2px; 
    cursor: pointer;  
    transform-style: preserve-3d;   
    transform: rotateY(-360deg);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.logo img{
    width: 100%;
}
.navigation__icon {
    position: fixed;
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 13%;
    left: 35%;
    cursor: pointer;  
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation__icon .topBar {
    width: 55px;
    height: 2px;
    display: block;
    background: var(--color_primario);
    position: absolute;
    top: 10px;
    transform: rotate(0);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation__icon .middleBar {
    width: 55px;
    height: 2px;
    display: block;
    background: var(--color_primario);
    position: absolute;
    top: 20px;   
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation__icon .bottomBar {
    width: 35px;
    height: 2px;
    display: block;
    background: var(--color_primario);
    position: absolute;
    top: 30px;   
    transform: rotate(0);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation .navigation__ul {
    float: right;
    margin-top: 220px;
    opacity: 0;
    visibility: hidden;  
    transform: rotateY(-90deg) translateX(-300px);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation .navigation__ul li {
    list-style: none;
    text-align: right;
}
.navigation .navigation__ul a {
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color_primario);
    margin-bottom: 15px;
}
.navigation .navigation__ul a:hover {
    color: var(--color_secundario);
    box-shadow: 2px 5px;
    transition: .5s;
}
.navigation .navigation__social {
    width: 100%;
    height: 30px;
    padding-right: 45px;
    position: absolute;
    bottom: 25px;
}
.navigation .navigation__social-ul {
    float: right;
    list-style: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;   
    transform: rotateY(-90deg) translateX(-300px);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation .navigation__social-ul li {
    display: inline-block;
    opacity: 0;
    visibility: hidden;   
    transform: translateY(35px);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation .navigation__social-ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color_primario);
    font-size: 25px;
    padding: 3px
}
.navigation .navigation__social-ul li:nth-child(1) a:hover{
    background-color: rgb(13, 138, 240);
    border-radius: 50%;
    transition: .5s;
}
.navigation .navigation__social-ul li:nth-child(2) a:hover{
    background-color: rgb(75, 236, 104);
    border-radius: 50%;
    transition: .5s;
}
.navigation .social-icon {
    width: 30px;
    height: 30px;
    display: block;   
    margin-left: 15px;
}
.navigation-open {
    width: 250px;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.85);
    position: fixed;
    left: 0;
    border-radius: 0% 1% 1% 0%;
}
.navigation-open .logo {
    opacity: 1;
    left: 1%;   
    transform: rotateY(0);
}
.navigation-open .navigation__icon {
    top: 5px;
    left: 95%;
    background-color: transparent;
}
.navigation-open .navigation__ul {
    opacity: 1;
    visibility: visible;
}
.navigation-open .navigation__social-ul {
    opacity: 1;
    visibility: visible;
}
.navigation-open .topBar {
    top: 21px;
    transform: rotate(45deg);
}
.navigation-open .middleBar {
    width: 0;
    top: 22px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
}
.navigation-open .bottomBar {
    width: 55px;
    top: 21px;
    transform: rotate(-45deg);
}
.navigation-open .navigation__ul {   
    transform: rotateY(0) translateX(0);
}
.navigation-open .navigation__social-ul {   
    transform: rotateY(0) translateX(0);
}
.navigation-open .navigation__social-ul li {
    opacity: 1;
    visibility: visible;   
    transform: translateY(0px);
}
.navigation-open .navigation__social-ul li:nth-child(1) {   
    transition-delay: .5s;
}
.navigation-open .navigation__social-ul li:nth-child(2) {   
    transition-delay: .46s;
}
.navigation-open .navigation__social-ul li:nth-child(3) {   
    transition-delay: .43s;
}
.navigation-open .navigation__social-ul li:nth-child(4) {   
    transition-delay: .4s;
}

/*  SECTION NAV (.hero)  */
.hero{
    position: absolute;
    max-height: 768px;
    width: 80%;
    margin-left: 20%;
    color: var(--color_terciario);
    max-width: calc(1920px - 20%);
    border: 0 auto;
}
.info_title {
    border: 1px solid transparent;
}
.info_title .link_cont{
    margin-top: 100px;
    padding-top: 10px;
    background-color: var(--color_primario);
    max-width: 300px;
    text-align: center;
    border: 1px solid var(--color_secundario);
}
.info_title .link_cont h2{
    margin-top: 25px;
    text-transform: uppercase;
}
.info_title .link_cont p{
    margin-top: 25px;
    margin: 0;
    float: left;
    width: 40%;
    text-align: right;
}
.info_title .link_cont h1{
    margin-top: 25px;
    margin: 0;
    float: right;
    text-align: left;
    width: 60%;
    font-size: 40px;
}
.info_title .link_cont h1 sub{
    font-size: 20px;
}
.info_title .link_cont button{
    margin-top: 20px;
    height: 40px;
    border: none;
    background-color: var(--color_secundario);
    color: var(--color_primario);
    font-size: 20px;
    cursor: pointer;
}
.info_title .link_cont button:hover{
    background-color: var(--color_primario);
    color: var(--color_secundario);
    font-weight: 700;
    border: 1px solid var(--color_secundario);
    transition: .5s;
}
.info_title .link_cont a{
    text-decoration: none;
    width: 100%;
    position: relative;
    color: white;
    background-color: var(--color_secundario);
    display: block;
    padding: 10px 0;
    font-size: 20px;
}
/* IMAGENES EN EL HEADER */
.img_header{
    margin-top: 50px;
}
.img_header .consultar{
    text-align: center;
    margin-top: 30px;
}
.img_header .consultar a{
    text-decoration: none;
    color: var(--color_secundario);
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 75px;
    background-color: var(--color_primario);
    border: 2px solid var(--color_secundario);
}
.img_header .consultar a:hover{
    background-color: var(--color_secundario);
    color: var(--color_primario);
    transition: .5s;
}
#images{
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    justify-content: center;
    grid-gap: 28px;
}
#images figure img{
    width: 100%;  
    vertical-align: top;
}
#images figure button{
    padding: 10px 25px;
    background-color: var(--color_secundario);
    border: 3px solid var(--color_secundario);
    color: var(--color_primario);
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
#images figure button:hover{
    background-color: var(--color_primario);
    color: var(--color_secundario);
    font-weight: 700;
    border: 3px solid var(--color_secundario);
    transition: .5s;
}

/* CONTAINER*/
#container{
    margin: 30px auto 0 auto;
    max-width: 1255px;
    text-align: center;
    color: var(--color_terciario);
}
hr{
    margin: 0 auto;
    max-width: 1255px;
    border: 1px solid rgba(0,0,0,0.05);
}
.description{
    background-color: rgba(100,100,100,0.025);
}
#container h2{
    margin-top: 25px;
}
#container p{
    padding: 20px 0 5px 0;
    color: rgba(0,0,0,0.5);
}
#container article img{
    width: 100%;
}
#container .info{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    justify-content: center;
    grid-gap: 50px;
    text-align: left;
    margin-bottom: 20px;
}
.info .item_info{
    padding: 10px;
}
.info .item_info i{
    background-color: var(--color_terciario);
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    color: var(--color_primario);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .item_info:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    transition: .5s;
}
.info .item_info h3{
    font-weight: 300;
    padding: 10px 0;
}
.info .item_info h5{
    font-weight: 300;
}
.we {
    margin: 25px 0;
}
.we .we_items{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1255px));
    justify-content: center;
    grid-gap: 50px;
    text-align: left;
}
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.25);
}
.slider ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 10s infinite alternate ease-in;
    height: 400px;
}
.slider ul li{
    width: 100%;
    list-style: none;
    height: 100%;
    background-image: url('../img/fondoslider.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--color_terciario);
}
.slider ul li h1{
    text-align: center;
    background-color: rgba(0,0,0,0.25);
    width: 75%;
    padding: 20px 0;
    color: var(--color_primario);
    margin-bottom: -19px;
    text-transform: uppercase;
}
.slider ul li h3{
    text-align: center;
    background-color: rgba(0,0,0,0.25);
    width: 75%;
    padding: 20px 0;
    color: var(--color_primario);
    margin-bottom: -10px;
}
.slider ul li .social{
    text-align: center;
    background-color: rgba(0,0,0,0.25);
    width: 75%;
    padding: 20px 0;    
    color: var(--color_primario);
}
.slider ul li h3{
    font-weight: 400;
}
.slider ul li .social{
    margin-top: 10px;
}
.slider ul li .social a{
    font-size: 25px;
    margin: 0 10px
}
.slider ul li .social a:nth-child(1){
    color: rgb(13, 138, 240);
}
.slider ul li .social a:nth-child(2){
    color: rgb(75, 236, 104);
}
.slider ul li .social a:nth-child(3){
    color: rgb(0,0,0);
}
@keyframes cambio{
    0%{ margin-left: 0; }
    45%{ margin-left: 0; }

    55%{ margin-left: -100%; }
    100%{ margin-left: -100%; }
}
/*  SERVICIOS  */
.services{
    padding-bottom: 20px;
}
.general{
    display: flex;
    justify-content: center;
    align-self: center;
}
.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(300px, auto);
    margin: 0 10px 20px 10px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.container .box{
    background-color: rgba(100,100,100,0.025);
    padding-top: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: var(--color_terciario);
    transition: 0.5s;
    font-weight: 100;
}
.container .box .content h5{
    font-weight: 300;
}
.container .box:hover{
    background-color: var(--color_primario);   
    transition: .5s;
}
.container .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}
.container .box:nth-child(1){
    grid-column: span 2;
    grid-row: span 1;
}
.container .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}
.container .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.container .box:nth-child(5){
    grid-column: span 3;
    grid-row: span 1;
}
/*   FOOTER  */
footer{
    outline: none;
    margin: 30px auto 0 auto;
    color: #2f2f2f;
    text-align: center;
}
.content_form{
    max-width: 1236px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-flow: row;
    background-color: rgba(100,100,100,0.025);
    padding-top: 50px;
}
.content_form .inputs{
    flex: 50%;
    order: 2;
    padding: 20px;
}
.content_form .info_general{
    flex: 50%;
    order: 1;
    margin: 0 50px;
    padding: 20px;
}
.info_general figure{
    width: 35%;
    margin: 0 auto;
}
.info_general figure img{
    width: 100%;
}
.info_general .info{
    text-align: left;
}
.info_general .info p{
    margin: 10px;
}
.info_general .redes{
    margin-top: 50px;
}
.info_general .redes a{
    min-height: 100px;
    min-width: 100px;
    text-decoration: none;
    font-size: 30px;
    margin: 0 15px;
}
.info_general .redes a:first-child{
    color: rgb(13, 138, 240);
    border-radius: 50%;
    padding: 0 8px;
    border: 1px solid rgb(13, 138, 240);
}
.info_general .redes a:last-child{
    color: rgb(75, 236, 104);
    border-radius: 50%;
    padding: 0 5px;
    border: 1px solid rgb(75, 236, 104);
}
.info_general .redes a:hover:first-child{
    color: white;
    background-color: rgb(13, 138, 240);
    transition: .5s;
}
.info_general .redes a:hover:last-child{
    color: white;
    background-color: rgb(75, 236, 104);
    transition: .5s;
}
.inputs form select{
    width: 100%;
    padding: 10px
}
.inputs form input,
.inputs form textarea{
    padding: 10px;
    width: 96%;
    margin-top: 10px;
}
.inputs form button{
    margin-top: 15px;
    padding: 10px 75px;
    color: var(--color_primario);
    background: var(--color_secundario);
    border: 2px solid var(--color_secundario);
    cursor: pointer;
}
.inputs form button:hover{
    transition: .5s;
    background: var(--color_primario);
    color: var(--color_secundario);
}

/* INFO END */
.info_end{
    background-color: #2f2f2f;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.info_end p,
.info_end p a{
    color: var(--color_primario);
    margin-bottom: 5px;
}
.info_end a{ 
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin: 0 15px
}
.info_end a img{
    width: 25px;
}
/* IMAGENES SERVICIOS*/
.servi{
    text-align: center !important;
}
.servi figure{
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.servi figure img{
    width: 100%;
    object-fit: cover;
}
/* MEDIAS QUERIES*/

@media (max-width: 1024px){
    #images{
        grid-template-columns: repeat(2, minmax(100px, 400px));
    }
    .container{
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .box{
        grid-column: unset !important;
        grid-row: unset !important;
    }
}
@media (max-width: 768px){
    .link_cont h2{
        font-size: 18px;
    }
    .link_cont h1 b{
        font-size: 30px;
    }
    #images{
        grid-template-columns: repeat(1, minmax(100px, 400px));
    }
    #container .info{
        grid-gap: 10px;
    }
    .content_form .inputs{
        order: 1;
        padding: 20px;
    }
    .content_form .info_general{
        order: 2;
        margin: 5px;
        padding: 5px;
    }
}
@media (max-height: 560px){
    .logo {
        width: 80%;
        top: 30px;
        left: 2px; 
    }
    .navigation .navigation__ul {
        margin-top: 100px;
    }
}
@media (max-height: 440px){
    .logo {
        width: 50%;
        top: 10px;
    }
    .navigation .navigation__ul {
        margin-top: 40px;
    }
    .navigation .navigation__ul li a{
        font-size: 20px;
    }
}
@media (max-width: 560px){
    #container .info{
        grid-template-columns: repeat(2, minmax(100px, 300px));
    }
    .content_form{
        margin: 30px auto 0 auto;
        display: flex;
        flex-flow: column;
        padding-top: 50px;
    }
    
}